/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require_tree
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

@keyframes fadeIn {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}
#welcome{
  width: 100%;
  animation: fadeIn 2s linear ;
}
.maintitle{
  position: relative;
  top: 100px;
  left: 20px;
}

body > div.content > nav > div {
  z-index: 100;
}
.front {
  position: relative;
  z-index: 100;
}
.homepageBack {
  position: relative;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("background.jpeg");
  margin-bottom: 10px;
  top: -165px;
}

p .alert {
  position: relative;
}
p .notice {
  position: relative;
}

.loginform{
  top: 100px;
  width: 300px;
}

.login-background {
  position: relative;
  background-image: url('loginBack.jpeg');
  height: 700px;
  top: -70px;
  background-size: cover;
}
.navbar-brand {
  font-family: 'Mukta Mahee', sans-serif
}
body > div.container.text-center {
  position: relative;
  top: -150px;
}
.move {
  position: relative;
  top: -200px;
}
.thumb-box{
  position: relative;
  height: 375px;
  border: 1px solid black;
  border-style: inset;
  box-shadow: 4px 4px 4px 4px #e3e5e8;
  border-radius: 10%;
}
.like:hover{
  text-decoration: none;
}




.caption h4{
  line-height: 35px;
  width: 25%;
  font-family: 'Mukta Mahee', sans-serif;
}
.heading h1{
  font-size: 55px;
  text-shadow: 2px 2px #b3b8bf;
  position: relative;
  width: 200px;
}
.loginform{
  margin-left: auto;
  margin-right: auto;
  position: relative;

}
.body > div:nth-child(7) > div > div > a:nth-child(1):hover{
  background-color: none;
}
.like:hover {
  background: none!important;
}
a:hover {
  background: none!important;
}
.col{
  height: 400px;
}
.col-content {
  font-size: 20px;
  line-height: 35px;
  top: 15px;
  position: relative;
}
#col{
  padding-top: 10px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content .modal-content{
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
}


.edit{
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 20px;
}


.view{
  text-align: center;
  background-image: url("background1.jpeg");
  background-repeat: none;
  background-size: 100%
}


.picture-text {
  color: white;
  font-size: 15px;
}

.boxes{
  color: #000;

}
