/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require_tree
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

.thumb-box{
  height: 350px;
  box-shadow: 2px 2px #e3e5e8;
}
.like:hover{
  text-decoration: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content .modal-content{
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
}


.edit{
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 20px;
}


.view{
  text-align: center;
  background-image: url("background1.jpeg");
  background-repeat: none;
  background-size: 100%
}


.picture-text {
  color: white;
  font-size: 15px;
}

.boxes{
  color: #000;
}
